.about_sec1 {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 80px;

  h2 {
    font-size: $font-size1;
    text-align: center;
    color: $blue;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .main-img {
    padding: 8px;

    img {
      width: 100%;
    }
  }

  p {
    padding-top: 30px;
    text-align: center;
    font-size: $font-size7;
    line-height: 2;
    font-weight: bold;
  }
}

.about_sec2 {
  h2 {
    padding: 5px;
    font-size: $font-size2;
    text-align: center;
    font-weight: bold;
    color: $white;
  }

  .about_sec2_wrap {
    .about_sec2_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      > div {
        width: calc(50% - 10px);

        img {
          width: 100%;
        }

        h3 {
          padding-bottom: 10px;
          border-bottom: 4px solid $blue;
          font-size: $font-size4;
          font-weight: bold;
        }

        p {
          padding-top: 20px;
          font-size: $font-size7;
          line-height: 1.4;
        }
      }
    }
  }
}

.about_sec3 {

  .popular-plan_wrap {

    > p {
      padding: 10px 0 20px;
      text-align: center;
      line-height: 1.4;
      font-size: $font-size7;
    }

    .popular-plan_card_container {
      .popular-plan_card_list {
        background: $white;
        margin-bottom: 20px;
        padding: 20px;

        h3 {
          font-size: $font-size5;
          font-weight: bold;
          padding-bottom: 20px;
          line-height: 1.4;
        }

        p {
          padding-bottom: 20px;
          line-height: 1.3;
        }

        .popular-plan_price_box {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > div {
            width: 100%;
            margin: 0 4px;
            padding: 5px;

            div {
              font-weight: bold;
              padding: 10px 15px;
              background: $white;
            }
          }
        }

        .price_attention {
          display: block;
          font-size: 12px;
          padding-top: 20px;
        }
      }
    }

    .popular-plan_comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;


      div {
        &:nth-child(1) {
          width: 220px;
        }

        &:nth-child(2) {
          width: calc(100% - 260px);
          padding: 30px;
          font-size: $font-size7;
          line-height: 1.6;
          border: 3px solid #F6F6F6;
          border-radius: 10px;
          background: #FFFFFF;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

@include tablet {
  .about_sec1 {
    padding-top: 60px;

    h2 {
      font-size: $font-size1-tab;
      margin-bottom: 25px;
    }

    p {
      padding-top: 25px;
      font-size: $font-size7-tab;
    }
  }

  .about_sec2 {
    h2 {
      font-size: $font-size2-tab;
    }

    .about_sec2_wrap {
      .about_sec2_inner {
        padding-top: 30px;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }

        > div {

          h3 {
            font-size: $font-size4-tab;
          }

          p {
            font-size: $font-size7-tab;
          }
        }
      }
    }
  }

  .about_sec3 {

    .popular-plan_wrap {

      > p {
        font-size: $font-size7-tab;
      }

      .popular-plan_card_container {
        .popular-plan_card_list {

          h3 {
            font-size: $font-size5-tab;
          }

          p {
            padding-bottom: 15px;
          }

          .popular-plan_price_box {
            flex-wrap: wrap;

            > div {
              width: calc(50% - 8px);
              padding: 5px;
              margin-bottom: 16px;
            }
          }

          .price_attention {
            padding-top: 10px;
          }
        }
      }

      .popular-plan_comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;


        div {
          &:nth-child(1) {
            width: 200px;
          }

          &:nth-child(2) {
            width: calc(100% - 220px);
            padding: 20px;
            font-size: $font-size7-tab;
          }
        }
      }
    }
  }
}

@include sp {
  .about_sec1 {
    padding-top: 40px;

    h2 {
      font-size: $font-size2-sp;
      margin-bottom: 20px;
    }

    p {
      padding-top: 20px;
      font-size: $font-size7-sp;
    }
  }

  .about_sec2 {
    h2 {
      font-size: $font-size2-sp;

      span {
        display: block;
      }
    }

    .about_sec2_wrap {
      .about_sec2_inner {
        display: block;
        padding-top: 20px;
        padding-bottom: 30px;

        > div {
          width: 100%;

          &:nth-child(1) {
            padding-bottom: 20px;
          }

          h3 {
            border-bottom: 3px solid $blue;
            font-size: $font-size4-sp;
          }

          p {
            padding-top: 15px;
            font-size: $font-size7-sp;
          }
        }
      }
    }
  }

  .about_sec3 {

    .popular-plan_wrap {

      > p {
        font-size: $font-size7-sp;
      }

      .popular-plan_card_container {
        .popular-plan_card_list {
          margin-bottom: 15px;
          padding: 15px;
          border: 1px solid $blue;

          h3 {
            font-size: $font-size5-sp;
            padding-bottom: 15px;
          }

          p {
            padding-bottom: 15px;
          }

          .popular-plan_price_box {
            display: block;

            > div {
              width: 100%;
              margin-bottom: 10px;
            }
          }

          .price_attention {
            font-size: 10px;
            padding-top: 10px;
          }
        }
      }

      .popular-plan_comment {
        display: block;
        padding-top: 20px;


        div {
          &:nth-child(1) {
            width: 150px;
            margin: 0 auto 20px;
          }

          &:nth-child(2) {
            width: 100%;
            padding: 20px;
            font-size: $font-size7-tab;
          }
        }
      }
    }
  }
}
