// privacy-policy
.privacy-policy {
  padding-top: 0;
  .article_contents {
    h1, h2, h3, h4 {
      margin: 16px 0;
    }
    h4 {
      color: #333;
    }
  }
}

// 利用規約
.terms {
  padding-top: 0;
  .article_contents {
    h1, h2, h3, h4 {
      margin: 16px 0;
    }
    h2 {
      font-size: 18px;
      border-left: none;
      padding-left: 0;
    }
    h4 {
      color: #333;
    }
    .terms_align-right {
      text-align: right;
    }
  }
}