.article_wrap {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px;
}

.article_contents_box {
  width: calc(100% - 310px);
  height: 100%;
  padding: 8px;
}

.article_contents {
  background: $white;
  padding: 24px;
  line-height: 1.4;

  h1 {
    font-size: $font-size5;
    font-weight: bold;
    border-bottom: 4px solid $blue;
    padding-bottom: 8px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: $font-size5;
    font-weight: bold;
    border-left: 5px solid $blue;
    padding-left: 6px;
    margin-bottom: 28px;
  }

  h3 {
    font-size: $font-size6;
    font-weight: bold;
    border-left: 3px solid $blue;
    padding-left: 6px;
    margin-bottom: 28px;
  }

  h4 {
    font-size: $font-size7;
    font-weight: bold;
    color: $blue;
    margin-bottom: 28px;
  }

  p {
    font-size: $font-size8;
    margin-bottom: 28px;
  }

  a {
    color: $blue;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
  }

  .sns-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    a {
      display: block;
      width: 40px;
      margin: 0 5px;
      transition: opacity .3s ease;

      img {
        width: 100%;
        margin: 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  div#toc_container {
    width: 100%;
    font-size: 100%;
    display: block;
    margin-bottom: 28px;
    padding: 0;
    border: 1px solid $blue;
    background: $lowsky;

    .toc_title {
      margin: 0;
      font-size: $font-size6;
      font-weight: bold;
      color: #fff;
      background: $blue;
      padding: 4px 20px;
      text-align: left;
    }

    ul.toc_list {
      padding: 20px 28px 1px;

      a {
        display: block;
        font-weight: bold;
        margin-bottom: 14px;
        text-decoration: underline;
      }

      li:nth-last-child(-n+3) a:after {
        content: 'New!!';
        display: inline-block;
        color: red;
        text-decoration: none;
        font-weight: initial;
        font-size: 95%;
        margin-left: 4px;
      }

      li:last-child a:after {
        content: '';
      }
    }

  }

  .button_wrap {
    text-align: center;
    max-width: 66%;
    margin: 28px auto;
  }

  table,
  th,
  td {
    padding: 6px 0;
    border: 1px solid $gray;
    text-align: center;
  }

  table {
    width: 100%;
    margin-bottom: 28px;

    th {
      color: #fff;
      background: $blue;
    }
  }

  .article_comment_box {
    border-radius: 20px;
    border: 3px solid $gray;
    margin-bottom: 24px;
    padding: 20px;

    p {
      margin-bottom: 0;
    }

    .article_comment_info {
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      p.article_comment_name {
        margin: 0;
        font-size: $font-size7;
        font-weight: bold;
      }

      span.article_comment_icon {
        display: block;
        margin-right: 12px;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background: url("https://placehold.jp/150x150.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
    }
  }

  ol {
    list-style: decimal;
    margin: 16px 20px;
  }
}

.related_wrap {
  ul {
    padding-bottom: 20px;

    li {
      margin-bottom: 16px;

      a {
        color: #333;
        display: flex;

        .related_thumbnail {
          width: 212px;
          height: 112px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: auto;
            margin: 0;
          }
        }

        p {
          color: #333;
          font-weight: bold;
          margin: 8px 0 0 16px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.caetgory-archive_wrap {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      width: calc(100% / 3 - 10px);

      a {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
        color: $black;
        border: 2px solid $blue;
        text-decoration: none;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }

        div:nth-child(1) {
          width: 60px;

          img {
            width: 100%;
            margin: 0;
          }
        }

        div:nth-child(2) {
          width: calc(100% - 70px);
          font-weight: bold;
        }
      }
    }
  }
}

.article-back-btn_wrap {
  padding-top: 30px;

  a {
    margin: 0 auto;
  }
}


@include tablet {
  .article_wrap {
    display: block;
  }

  .article_contents_box {
    width: 100%;
    margin: 0 auto;
  }

  .article_contents {
    padding: 20px;

    h1 {
      font-size: $font-size5-tab;
    }

    h2 {
      font-size: $font-size5-tab;
      margin-bottom: 22px;
    }

    h3 {
      font-size: $font-size6-tab;
      margin-bottom: 22px;
    }

    h4 {
      font-size: $font-size7-tab;
      margin-bottom: 22px;
    }

    p {
      font-size: $font-size8-tab;
      margin-bottom: 22px;
    }

    img {
      margin-bottom: 22px;
    }

    .sns-box {
      a {
        width: 35px;
      }
    }

    .index_container {
      margin-bottom: 22px;

      h3 {
        font-size: $font-size6-tab;
      }
    }

    .button_wrap {
      margin: 22px auto;
    }

    table {
      margin-bottom: 22px;
    }

    .article_comment_box {
      p {
        margin-bottom: 0;
      }

      .article_comment_info {
        p.article_comment_name {
          font-size: $font-size7-tab
        }

        span.article_comment_icon {
          width: 60px;
          height: 60px;
          border-radius: 30px;
        }
      }
    }
  }


  .caetgory-archive_wrap {
    ul {
      li {
        width: calc(100% / 2 - 10px);
      }
    }
  }
}

@include sp {
  .article_wrap {
    display: block;
    padding: 0;
  }

  .article_contents_box {
    width: 100%;
    padding: 6px 0;
  }

  .article_contents {
    padding: 18px;

    h1 {
      font-size: $font-size4-sp;
      line-height: 1.5;
      border-bottom: 3px solid $blue;
      padding-bottom: 6px;
    }

    h2 {
      font-size: $font-size4-sp;
      border-left: 4px solid $blue;
      padding-left: 8px;
      margin-bottom: 18px;
    }

    h3 {
      font-size: $font-size5-sp;
      border-left: 3px solid $blue;
      padding-left: 5px;
      margin-bottom: 18px;
    }

    h4 {
      font-size: $font-size7-sp;
      margin-bottom: 18px;
    }

    p {
      font-size: $font-size6-sp;
      margin-bottom: 18px;
    }

    a {
      font-weight: bold;
    }

    img {
      margin-bottom: 18px;
    }

    .sns-box {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 12px;

      a {
        width: 30px;
        margin: 0 3px;
      }
    }

    .index_container {
      margin-bottom: 18px;

      h3 {
        font-size: $font-size5-sp;
      }
    }

    table {
      margin-bottom: 18px;
    }

    .article_comment_box {
      margin-bottom: 18px;
      padding: 14px;

      .article_comment_info {
        margin-bottom: 10px;

        p.article_comment_name {
          font-size: $font-size7-sp;
        }

        span.article_comment_icon {
          margin-right: 12px;
          width: 56px;
          height: 56px;
          border-radius: 28px;
        }
      }
    }

    // 目次
    div#toc_container {
      background: #fff;
      border: 1px solid #333;
      padding: 0;

      .toc_title {
        color: #333;
        background: #fff;
        padding: 16px 16px 0;
      }

      ul.toc_list {
        margin-top: 0 !important;
        padding: 16px;

        li {
          font-size: 14px;

          a {
            color: #333;
            font-weight: initial;
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .related_wrap {
    ul {
      padding-bottom: 20px;

      li {
        margin-bottom: 16px;

        a {
          display: block;

          .related_thumbnail {
            width: 100%;
            height: auto;
            max-height: 100px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          p {
            margin: 8px 0 0 0;
          }
        }
      }
    }
  }

  .caetgory-archive_wrap {
    ul {
      display: block;

      li {
        width: 100%;

        a {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          margin-bottom: 10px;
          color: $black;
          border: 2px solid $blue;

          &:hover {
            color: $blue;
            text-decoration: underline;
          }

          div:nth-child(1) {
            width: 60px;

            img {
              width: 100%;
            }
          }

          div:nth-child(2) {
            width: calc(100% - 70px);
            font-weight: bold;
          }
        }
      }
    }
  }

}
