div#breadcrumb {
  margin: 8px auto;
  ul{
    display: flex;
    li{
      margin-right: 6px;
      font-size: 12px;
    }
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}