.cal-view_container {
  padding: 20px 0;
  font-size: 12px;

  .cal-btn_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .backcal-btn,
    .nextcal-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border: 1px solid $gray;
      border-radius: 5px;
      cursor: pointer;
      transition: opacity .3s ease;

      &:hover {
        opacity: 0.6;
      }

      &.disable {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    .backcal-btn:before {
      content: '<';
      margin-right: 5px;
    }

    .nextcal-btn:after {
      content: '>';
      margin-left: 5px;
    }
  }

  .cal-set_wrapper {
    margin: 20px 0;
    border: 1px solid $gray;
    font-size: 12px;
  }

  .cal-set_inner {
    display: flex;
    justify-content: center;
    align-items: center;

    + .cal-set_inner {
      border-top: 1px solid $gray;
    }

    > div {
      width: calc(100% / 8);
      text-align: center;
      height: 46px;
      position: relative;

      &:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:nth-child(n+2) {
        border-left: 1px solid $gray;
      }

      .cal-date {
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cal-week {
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $gray;
      }
    }

    .sunday {
      color: #f5335f;
      background: #f5dce7;
    }

    .saturday {
      color: #208ef5;
      background: #d3e3f3;
    }

    .closedday:before {
      content: '';
      display: block;
      width: 25px;
      height: 4px;
      background: $gray;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .activeday {
      cursor: pointer;
      transition: opacity .3s ease;

      &:before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border: 3px solid $blue;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .set-reserve1,
    .set-reserve2,
    .set-reserve3 {
      background: $sky;
    }
  }
}

@include sp {
  .cal-view_container {
    padding: 10px 0;
    font-size: 10px;

    .cal-set_wrapper {
      margin: 10px 0;
      font-size: 10px;
    }

    .cal-set_inner {
      > div {
        width: calc(100% / 8);
        text-align: center;
        height: 40px;
        position: relative;

        &:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(n+2) {
          border-left: 1px solid $gray;
        }

        .cal-date {
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cal-week {
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid $gray;
        }
      }

      .closedday:before {
        width: 20px;
        height: 4px;
      }

      .activeday {
        &:before {
          width: 20px;
          height: 20px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
