.case_cards_content {
  margin-top: 30px;
  padding: 8px;

  > div {
    background: $white;
    padding: 30px;

    .case_cards_narrow {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .search_icon {
        width: 165px;
        color: $blue;
        font-size: $font-size4;
        display: flex;
        align-items: center;
        font-weight: bold;

        &:before {
          content: '';
          display: block;
          width: 35px;
          height: 35px;
          background: url('../images/common/icon_search_b.png');
          background-size: 100% 100%;
          margin-right: 10px;
        }
      }


      .select-box {
        width: calc(100% / 2 - 150px / 2 - 10px);
        max-width: 200px;
        height: 30px;
        padding: 0;
        position: relative;
        font-size: $font-size8;
        border-radius: 10px;
        border: 1px solid #dedede;
        overflow: hidden;
        margin-right: 15px;

        select {
          width: 100%;
          height: 100%;
          border: none;
          padding: 0 15px;
          color: $black;
          background: #fafafa;


          &:focus {
            outline: 0;
          }
        }
      }
    }

    .case_card_box {
      padding-top: 30px;

      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .case_card {
          display: flex;
          justify-content: space-between;
          width: calc(100% / 2 - 10px);
          border: 1px solid #dedede;
          border-radius: 10px;
          padding: 30px;
          margin-bottom: 20px;

          .card_icon-img {
            width: 120px;

            img {
              width: 100%;
            }
          }

          .case_card_txt {
            width: calc(100% - 140px);

            .case_card_status {
              display: flex;
              color: $blue;
              font-size: $font-size6;
              font-weight: bold;

              div {
                padding-right: 20px;
              }
            }

            .case_card_detail {
              padding-top: 20px;
              font-size: $font-size7;
            }
          }
        }
      }
    }
  }
}


@include tablet {
  .case_cards_content {
    margin-top: 25px;

    > div {
      padding: 25px;

      .case_cards_narrow {

        .search_icon {
          width: 145px;
          font-size: $font-size4-tab;

          &:before {
            width: 30px;
            height: 30px;
          }
        }


        .select-box {
          width: calc(100% / 2 - 130px / 2 - 10px);
          font-size: $font-size8-tab;
        }
      }

      .case_card_box {
        padding-top: 25px;

        ul {
          display: block;

          .case_card {
            width: 100%;
            padding: 25px;

            .case_card_txt {
              width: calc(100% - 140px);

              .case_card_status {
                font-size: $font-size6-tab;
              }

              .case_card_detail {
                font-size: $font-size7-tab;
              }
            }
          }
        }
      }
    }
  }
}

@include sp {
  .case_cards_content {
    margin-top: 20px;

    > div {
      padding: 20px;

      .case_cards_narrow {
        justify-content: space-between;

        .search_icon {
          width: 100%;
          font-size: $font-size4-sp;
          padding-bottom: 10px;

          &:before {
            width: 25px;
            height: 25px;
          }
        }


        .select-box {
          width: calc(100% / 2 - 10px);
          max-width: auto;
          height: 40px;
          font-size: $font-size8-sp;
          margin-right: 0;

          select {
            padding: 10px;
          }
        }
      }

      .case_card_box {
        padding-top: 20px;

        ul {
          display: block;

          .case_card {
            display: block;
            width: 100%;
            padding: 15px;
            position: relative;


            .card_icon-img {
              width: 70px;
              position: absolute;
              top: 15px;
              left: 15px;
            }

            .case_card_txt {
              width: 100%;

              .case_card_status {
                align-items: center;
                height: 70px;
                padding-left: 80px;
                font-size: $font-size6-sp;

                div {
                  padding-right: 15px;
                }
              }

              .case_card_detail {
                padding-top: 15px;
                font-size: $font-size7-sp;
              }
            }
          }
        }
      }
    }
  }
}
