.clinic_list_container {
  margin: 48px 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: calc((100%/3) - 16px);
      border: 1px solid #f6f6f6;
      margin-bottom: 24px;
      div.clinic_list_box {
        img {
          max-width: 100%;
        }
        .clinic_list_detail {
          padding: 20px 16px;
          h3.shop-name {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
          }
          .address {
            display: block;
            margin-bottom: 4px;
            .postal-code {
              display: block;
              margin-bottom: 4px;
            }
          }
          .clinic-arrow {
            margin-top: 12px;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}