// 幅を制御するcss
main {
  section {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px 20px;
  }

  div.control-width {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.4;
}

.title-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 310px;
  margin: 0 auto 12px;

  img {
    width: 100%;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0;
    text-align: center;

    .title_dec-l {
      width: 22px;
      height: 22px;
      margin: 0 8px;
      display: inline-block;
      background-image: url(../images/common/dec_title_left.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .title_dec-r {
      width: 22px;
      height: 22px;
      margin: 0 8px;
      display: inline-block;
      background-image: url(../images/common/dec_title_right.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .title-drop {
    width: 15px;
  }
}

.arrow {
  width: 24px;
  height: 24px;
}

.margin-a {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

/*文字色*/

.color-blue {
  color: $blue !important;
}

.color-sky {
  color: $sky !important;
}

.color-yellow {
  color: $yellow !important;
}

.color-pink {
  color: $pink !important;
}

.color-red {
  color: $red !important;
}

.color-black {
  color: #333 !important;
}

/*アンダーライン*/
.ul-orange {
  border-bottom: 1px solid $orange;
}

/*背景色*/
.bg-blue {
  background: $blue;
}

.bg-sky {
  background: $sky;
}

.bg-lowsky {
  background: $lowsky;
}

.stripe-sky {
  background-size: auto auto;
  background-color: #FFFFFF;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, #d9f4fe 3px, #d9f4fe 4px);
}

.bg-yellow {
  background: $yellow;
}

.bg-orange {
  background: $orange;
}

.bg-pink {
  background: $pink;
}

.outline-sky {
  background: $sky;

  section {
    padding: 20px;

    > div {
      border: 20px solid #FFFFFF;
      padding: 64px 20px;
    }
  }
}


/*border*/
.border-blue {
  border: 1px solid $blue;
}

.border-sky {
  border: 1px solid $sky;
}

.border-lowsky {
  border: 1px solid $lowsky;
}

.border-yellow {
  border: 1px solid $yellow;
}

.border-orange {
  border: 1px solid $orange;
}

.border-pink {
  border: 1px solid $pink;
}


/*ボタン*/
.button_wrap {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 56px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none !important;
  transition: opacity .3s ease;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &.button_inner {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/common/icon_arrow-w.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }

    span {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 8px;
      border: 0.5px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: $font-size6;
      font-weight: bold;
      letter-spacing: .1em;
    }
  }

  &:hover {
    opacity: 0.8;
  }
} // ボタン


/** ※注意書き用 **/
.alart_txt {
  text-align: center;
  font-size: 12px;
  margin: 12px 0 12px;
}


.col-2 {
  width: 50%;

  @include tablet {
    width: 100%;
  }

  @include sp {
    width: 100%
  }
}

.form_table {
  padding-top: 30px;

  table {
    width: 100%;
    margin-bottom: 40px;
  }

  table,
  th,
  td {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #f3f3f3;
    vertical-align: top;
  }

  th {
    line-height: 1.8;
    width: 33%;
    font-weight: bold;
    padding: 24px;
    background: $lowsky;

    span {
      font-weight: bold;
      border: 1px solid $blue;
      color: #fff;
      background: $blue;
      padding: 3px 6px;
      margin-right: 8px;
    }

    span.any {
      color: $blue;
      background: #fff;
    }
  }

  td {
    font-size: $font-size6;
    width: 66%;
    padding: 16px 20px;

    > span {
      width: calc(100% - 16px);
      margin: 8px;
      display: inline-block;

      &.birth-y,
      &.birth-m,
      &.birth-d,
      &.age {
        width: auto;
      }

      input:not([type="checkbox"]):not([type="radio"]),
      select {
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        padding: 8px 20px;
        min-height: 45px;

        &::placeholder {
          color: #DDDDDD;
        }

        &:-ms-input-placeholder {
          color: #DDDDDD;
        }

        &::-ms-input-placeholder {
          color: #DDDDDD;
        }

        &:focus {
          outline: 0;
        }
      }

      textarea {
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        padding: 20px;

        &::placeholder {
          color: #DDDDDD;
        }

        &:-ms-input-placeholder {
          color: #DDDDDD;
        }

        &::-ms-input-placeholder {
          color: #DDDDDD;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    span.desire-part,
    span.your-sex {
      border: none !important;

      span.wpcf7-list-item {
        border: none !important;
        padding: 0 !important;
        margin: 4px !important;
      }
    }

    textarea {
      resize: none;
    }
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 56px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    position: relative;
    color: $white;
    background: $blue;
    font-weight: bold;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

@include tablet {
  main {
    section {
      padding: 48px 20px;
    }
  }

  .title-wrap {
    width: 280px;

    h2 {
      font-size: 22px;

      .title_dec-l,
      .title_dec-r {
        width: 20px;
        height: 20px;
      }
    }

    .title-drop {
      width: 14px;
    }
  }

  .outline-sky {
    section {
      padding: 15px;

      > div {
        border: 15px solid $white;
        padding: 48px 15px;
      }
    }
  }

  /*ボタン*/
  .button_wrap {
    .button_inner {
      div {
        font-size: $font-size6-tab;
        letter-spacing: .05em;
      }
    }

    &:after {
      width: 20px;
      height: 20px;
    }
  }

  .form_table {
    padding-top: 25px;

    table {
      margin-bottom: 35px;
    }

    th {
      padding: 20px;
    }

    td {
      font-size: $font-size6-tab;

      > span {

        input:not([type="checkbox"]):not([type="radio"]),
        select {
          padding: 8px 16px;
          min-height: 40px;
        }

        textarea {
          padding: 16px;
        }
      }
    }
  }
}

@include sp {
  main {
    section {
      padding: 32px 20px;
    }
  }

  .title-wrap {
    width: 250px;

    h2 {
      font-size: 20px;

      .title_dec-l,
      .title_dec-r {
        width: 18px;
        height: 18px;
      }
    }

    .title-drop {
      width: 13px;
    }
  }

  .outline-sky {
    background: $lowsky;

    section {
      padding: 20px;

      > div {
        border: none;
        padding: 0;
      }
    }
  }

  /*ボタン*/
  .button_wrap {
    height: 50px;

    .button_inner {
      div {
        font-size: $font-size6-sp;
        letter-spacing: .05em;
      }
    }

    &:after {
      width: 18px;
      height: 18px;
    }
  }

  .form_table {
    padding-top: 20px;

    table {
      margin-bottom: 30px;
    }

    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      width: 100%;
    }

    th {
      width: 100%;
      padding: 10px;
    }

    td {
      width: 100%;
      padding: 10px;

      > span {
        width: 100%;
        margin: 0;

        &.birth-y,
        &.birth-m,
        &.birth-d,
        &.age {
          width: auto;
        }

        input:not([type="checkbox"]):not([type="radio"]),
        select {
          padding: 8px 12px;
          font-size: $font-size6-sp;
        }

        textarea {
          padding: 12px;
          font-size: $font-size6-sp;
        }
      }

      br + span {
        margin-top: 10px;
      }
    }


    td {
      font-size: $font-size6-sp;

      > span {

        input:not([type="checkbox"]):not([type="radio"]),
        select {
          padding: 8px 16px;
        }

        textarea {
          padding: 16px;
        }
      }
    }


    input[type="submit"] {
      height: 50px;
    }
  }

  /** ※注意書き用(sp) **/
  .alart_txt {
    text-align: center;
    font-size: 11px;
    margin: 10px 0 10px;
  }
}
