.counseling_calender {
  h2 {
    font-size: $font-size4;
    text-align: center;
    font-weight: bold;
  }

  .title-wrap + h2 {
    padding-top: 30px;
  }

  .terms-link {
    width: 100%;
    text-align: center;
    a {
      text-decoration: underline;
      font-size: 12px;
      color: #333;
    }
  }
}

@include tablet {
  .counseling_calender {
    h2 {
      font-size: $font-size4-tab;
    }

    .title-wrap + h2 {
      padding-top: 25px;
    }
  }
}

@include sp {
  .counseling_calender {
    h2 {
      font-size: $font-size4-sp;
    }

    .title-wrap + h2 {
      padding-top: 20px;
    }
  }
}
