.qa_sec {
  .qa_wrapper {
    padding-top: 30px;

    .qa_block {
      .acd-check {
        display: none;
      }

      .acd-label {
        display: flex;
        align-items: center;
        color: $blue;
        font-size: $font-size3;
        font-weight: bold;
        border-bottom: 1px solid #dedede;
        padding-bottom: 20px;

        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 12px;
          background-image: url('../images/common/dec_num-marker.png');
          background-size: 100% 100%;
          margin-right: 15px;
        }

        .label-status {
          width: 30px;
          height: 30px;
          position: relative;
          margin-left: 10px;

          &:before {
            content: '';
            display: block;
            width: 20px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $blue;
          }

          &:after {
            content: '';
            display: block;
            width: 20px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            background: $blue;
            transition: transform .3s ease;
          }
        }
      }

      .acd-check:checked ~ h2 .acd-label .label-status:after {
        transform: translate(-50%, -50%) rotate(0deg);
      }


      .qa_content {
        max-height: 0;
        overflow: hidden;
        font-size: $font-size6;
        transition: max-height .5s ease;

        dl {
          padding: 30px 0 20px;

          dt {
            position: relative;
            padding-left: 35px;
          }

          dd {
            position: relative;
            padding-left: 35px;
            margin-top: 20px;
            line-height: 1.6;
          }

          .qa_q {
            font-size: $font-size3;
            color: $blue;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-8px);
          }

          .qa_a {
            font-size: $font-size3;
            color: $orange;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-8px);
          }
        }

        + .qa_content {
          padding-top: 30px;
        }
      }



      .acd-check:checked ~ .qa_content {
        max-height: 1000px;
      }

      + .qa_block {
        padding-top: 30px;
      }
    }
  }
}


@include tablet {
  .qa_sec {
    .qa_wrapper {
      padding-top: 25px;

      .qa_block {
        .acd-label {
          font-size: $font-size3-tab;
          padding-bottom: 15px;
        }

        .qa_content {
          font-size: $font-size6-tab;

          dl {
            padding: 30px 0 15px;

            dt {
              padding-left: 30px;
            }

            dd {
              position: relative;
              padding-left: 30px;
              margin-top: 15px;
            }

            .qa_q {
              font-size: $font-size3-tab;
              transform: translateY(-8px);
            }

            .qa_a {
              font-size: $font-size3-tab;
              transform: translateY(-8px);
            }
          }

          + .qa_content {
            padding-top: 25px;
          }
        }

        + .qa_block {
          padding-top: 25px;
        }
      }
    }
  }
}

@include sp {
  .qa_sec {
    .qa_wrapper {
      padding-top: 20px;

      .qa_block {
        .acd-label {
          font-size: $font-size3-sp;
          padding-bottom: 10px;

          .label-status {
            margin-left: 5px;

            &:before {
              width: 16px;
              height: 3px;
            }

            &:after {
              width: 16px;
              height: 3px;
            }
          }
        }

        .qa_content {
          font-size: $font-size6-sp;

          dl {
            padding: 25px 0 10px;

            dt {
              padding-left: 25px;
            }

            dd {
              position: relative;
              padding-left: 25px;
              margin-top: 15px;
            }

            .qa_q {
              font-size: $font-size3-sp;
              transform: translateY(-5px);
            }

            .qa_a {
              font-size: $font-size3-sp;
              transform: translateY(-5px);
            }
          }

          + .qa_content {
            padding-top: 20px;
          }
        }

        + .qa_block {
          padding-top: 20px;
        }
      }
    }
  }
}
