.reason_jump_wrapper {
  padding-top: 30px;

  ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      display: block;
      width: calc(100% / 3 - 24px);
      color: $black;
      text-decoration: none;
      margin: 0 12px 24px;
      font-size: $font-size6;

      li.reason_jump_card {
        height: 100%;
        border: 2px solid $blue;
        border-radius: 5px;
        background: $lowsky;
        padding: 20px 20px 30px;
        position: relative;

        .reason_jump_card_num {
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            padding: 5px 0;
            margin: 0 15px;
            font-size: $font-size2;
            border-bottom: 1px solid $blue;
            color: $blue;
          }

          &:before {
            content: '';
            display: block;
            width: 10px;
            height: 12px;
            background-image: url('../images/common/dec_num-marker.png');
            background-size: 100% 100%;
          }

          &:after {
            content: '';
            display: block;
            width: 10px;
            height: 12px;
            background-image: url('../images/common/dec_num-marker.png');
            background-size: 100% 100%;
          }
        }


        p {
          padding-top: 24px;
          line-height: 1.6;
        }

        .jump-arrow {
          width: 14px;
          position: absolute;
          bottom: 10px;
          right: 10px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.reason_wrap {
  ul {
    li {
      padding: 8px;

      .reason-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        padding: 30px;

        div:nth-child(1) {
          width: 40%;

          img {
            width: 100%;
          }
        }

        div:nth-child(2) {
          width: calc(60% - 30px);

          h3 {
            font-size: $font-size5;
            color: $blue;
            font-weight: bold;
          }

          p {
            font-size: $font-size7;
            line-height: 1.8;
            padding-top: 20px;
          }
        }
      }

      + li {
        margin-top: 30px;
      }
    }
  }
}

@include tablet {
  .reason_jump_wrapper {
    padding-top: 25px;

    ul {
      a {
        width: calc(100% / 2 - 24px);
        font-size: $font-size6-tab;

        li.reason_jump_card {
          .reason_jump_card_num {
            div {
              font-size: $font-size2-tab;
            }
          }
        }
      }
    }
  }

  .reason_wrap {
    ul {
      li {
        padding: 8px;

        .reason-card {
          padding: 25px;

          div:nth-child(2) {
            h3 {
              font-size: $font-size5-tab;
              font-weight: bold;
            }

            p {
              font-size: $font-size7-tab;
              line-height: 1.6;
              padding-top: 20px;
            }
          }
        }

        + li {
          margin-top: 25px;
        }
      }
    }
  }
}

@include sp {
  .reason_jump_wrapper {
    padding-top: 20px;

    ul {
      display: block;

      a {
        width: 100%;
        margin: 0 0 20px;
        font-size: $font-size6-sp;

        li.reason_jump_card {
          height: auto;

          .reason_jump_card_num {
            div {
              font-size: $font-size2-sp;
            }
          }
        }
      }
    }
  }

  .reason_wrap {
    ul {
      li {
        padding: 8px;

        .reason-card {
          display: block;
          background: $white;
          padding: 20px;

          div:nth-child(1) {
            width: 100%;
          }

          div:nth-child(2) {
            width: 100%;
            padding-top: 20px;

            h3 {
              font-size: $font-size5-sp;
              font-weight: bold;
            }

            p {
              font-size: $font-size7-sp;
              line-height: 1.8;
              padding-top: 20px;
            }
          }
        }

        + li {
          margin-top: 30px;
        }
      }
    }
  }
}
