.sidemenu {
  width: 280px;

  .side_title {
    background: $blue;
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
  }

  .category-list,
  .ranking-list {
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid $blue;
  }

  .side_contents {
    padding: 4px 16px;
    background: $white;

    ul {
      li {

        input {
          display: none;
        }

        label {
          display: block;
          padding: 16px 0;
          border-bottom: 2px dotted $gray;
          position: relative;

          &:before {
            content: '';
            display: block;
            width: 15px;
            height: 3px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            background: $blue;
          }

          &:after {
            content: '';
            display: block;
            width: 15px;
            height: 3px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%) rotate(90deg);
            background: $blue;
            transition: transform .3s ease;
          }
        }

        input[id^="cate"]:checked ~ dt label:after {
          transform: translate(-50%, -50%) rotate(0deg);
        }

        &:last-child {
          label {
            border: none;
          }
        }

        dd {
          max-height: 0;
          overflow: hidden;
          transition: max-height .5s ease;

          a {
            display: flex;
            align-items: center;
            color: $black;
            padding-left: 16px;
            height: 45px;


            &:hover {
              color: $blue;
              text-decoration: underline;
            }
          }
        }

        input[id^="cate"]:checked ~ dd {
          max-height: 1260px;
        }
      }
    }
  }

  .ranking-list {
    a {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 2px dotted $gray;
      color: $black;

      &:last-child {
        label {
          border: none;
        }
      }

      &:hover {
        color: $blue;
      }

      div:nth-child(1) {
        width: 90px;

        img {
          width: 100%;
        }
      }

      div:nth-child(2) {
        width: calc(100% - 100px);

        span {
          display: inline-block;
          font-size: 12px;
          padding: 5px;
          margin-bottom: 10px;
        }

        p {
          height: 55px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }

        span.color-pink {
          border: 1px solid $pink;
        }

        span.color-orange {
          color: $orange;
          border: 1px solid $orange;
        }

        span.color-blue {
          border: 1px solid $blue;
        }

        span.color-green {
          color: #30f78d;
          border: 1px solid #30f78d;
        }
      }
    }
  }
}

@include tablet {
  .sidemenu {
    padding-top: 30px;
    width: 100%;
  }
}

@include sp {
  .sidemenu {
    padding-top: 0;

    .category-list,
    .ranking-list {
      margin-bottom: 0;
      border: none;
    }

    .side_title {
      padding: 8px 12px;
      font-size: 18px;
    }
    .side_contents {
      a {
        div:nth-child(2) {
          span {
            padding: 4px !important;
            margin-bottom: 6px !important;
          }
          p {
            font-weight: bold;
            font-size: 14px !important;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
