.about_box {
  display: flex;
  justify-content: space-between;

  + .about_box {
    margin-top: 64px;
  }

  .about_img {
    width: calc(50% - 16px);

    img {
      width: 100%;
    }
  }

  .about_text {
    width: calc(50% - 32px);

    h2 {
      font-size: $font-size3;
      font-weight: bold;
      margin-bottom: 24px;
      padding: 0 0 8px 0;
      color: $blue;
      border-bottom: 4px solid $blue;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }

    p {
      font-size: $font-size7;
      line-height: 1.5em;
      margin-bottom: 48px;
    }
  }
}

.about1 {
  h2 {
    .about_h2-icon {
      width: 28px;
      height: 48px;
      margin-right: 12px;
      background: url(../images/top/icon_about01.png);
      background-size: 100% 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.about2 {
  flex-direction: row-reverse;

  h2 {
    .about_h2-icon {
      width: 54px;
      height: 48px;
      margin-right: 12px;
      background: url(../images/top/icon_about02.png);
      background-size: 100% 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.about3 {
  h2 {
    .about_h2-icon {
      width: 33px;
      height: 48px;
      margin-right: 12px;
      background: url(../images/top/icon_about03.png);
      background-size: 100% 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.top-trouble {
  h2 {
    color: $blue;
    font-size: $font-size3;
    border-bottom: 4px solid #5fb9ff;
    font-weight: bold;
    padding: 8px 4px;
  }

  .top-trouble_wrap {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      li {
        width: calc(50% - 16px);
        padding: 8px;
        margin-top: 32px;

        .top-trouble_card {
          background: $white;
          padding: 30px;
          height: 100%;

          .trouble_q {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;

            &:before {
              content: '';
              width: 60px;
              height: 60px;
              background: url(../images/top/icon_trouble01.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }

            span {
              display: block;
              width: calc(100% - 80px);
              line-height: 1.5em;
              font-weight: bold;
            }
          }

          .trouble_a {
            position: relative;
            padding-bottom: 20px;

            .trouble_a_txt {
              width: calc(100% - 80px);
              min-height: 100px;
              border: 1px solid #CCCCCC;
              border-radius: 8px;
              padding: 20px 30px 20px 20px;
            }

            img {
              width: 100%;
            }

            div {
              width: 100px;
              height: 100px;
              overflow: hidden;
              position: absolute;
              bottom: 0;
              right: 0;
              border: 2px solid $sky;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.top-recommended {
  .top-recommended_card_wrap {
    padding: 0 40px;

    .top-recommended_card_list {
      ul {
        display: flex;
        justify-content: space-around;
        padding-top: 32px;

        li.top-recommended_card {
          width: calc(100% / 3 - 24px);
          text-align: center;
          background: $white;
          padding-bottom: 48px;
          position: relative;

          a {
            color: $black;

            &.temp_card-disable {
              pointer-events: none;
            }
          }

          .top-recommended_card_img {
            width: 100%;
          }

          h3 {
            margin: 16px 0;
            font-size: $font-size5;
            font-weight: bold;
          }

          p {
            margin-bottom: 12px;
            padding: 0 16px;
            line-height: 1.5;
          }

          p.card-price {
            color: $blue;
            font-size: $font-size4;
            padding: 0 20px;
            position: absolute;
            bottom: 0;

            &:after {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url(../images/common/icon_arrow-b.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
            }
          }

          .temp_card-disable {
            .card-price:after {
              display: none;
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.top_news_wrap {
  display: flex;
  justify-content: center;

  .information {
    padding: 0 24px;
  }

  .campaign {
    padding: 0 24px;
    border-left: 2px dotted #dedede;
  }

  .archive_box {
    margin: 24px 0;

    li {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 2px dotted #dedede;

      .archive_info {
        margin: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {}

        .tag {
          min-width: 100px;
          text-align: center;
          display: inline-block;
          padding: 5px;
          color: #fff;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }

      .archive_title {
        a {
          color: #333;
          font-size: 16px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .archive_link {
      a {
        color: $blue;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &:after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-image: url(../images/common/icon_arrow-b.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          margin-left: 20px;
        }
      }
    }
  }
}

.top-recommended {
  .top_column_card_wrap {
    .top_column_card_list {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 32px;

        li.top_column_card {
          width: calc(100% / 3 - 16px);
          background: $white;
          padding-bottom: 2px;

          a {
            color: $black;
          }

          .top_column_card_img {
            width: 100%;
          }

          .top_column_card_txt {
            padding: 16px;
            position: relative;

            .top-column_card_tag {
              position: absolute;
              top: 0;
              right: 0;
              transform: translateY(-100%);
              padding: 5px 8px;
              color: $white;
            }

            p:nth-child(1) {
              line-height: 1;
            }

            p + p {
              padding-top: 16px;
              line-height: 1.5;
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.top_info_wrap {
  display: flex;
  justify-content: center;

  > div {
    padding: 0 24px;

    h2 {
      color: $blue;
    }
  }

  .performer_wrap {
    width: 40%;

    .archive_box {
      margin-top: 20px;
      border: 2px solid #dedede;
    }
  }

  .info_wrap {
    width: 60%;
    border-left: 2px dotted #dedede;

    .archive_box {
      margin-top: 20px;

      .area_info_inner {
        padding-bottom: 8px;

        > div {
          background: $white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px 0;
        }

        .info_area {
          width: 80px;
          padding: 8px;
          background: $blue;
          text-align: center;
          color: $white;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 80px);

          li {
            width: calc(100% / 5);
            padding: 5px 10px;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 30px;
              color: $black;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

/* tablet */
@include tablet {
  .about_box {

    + .about_box {
      margin-top: 48px;
    }

    .about_img {
      width: calc(50% - 12px);
    }

    .about_text {
      width: calc(50% - 24px);

      h2 {
        font-size: $font-size3-tab;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 0 8px 0;
      }

      p {
        font-size: $font-size7-tab;
        line-height: 1.5em;
        margin-bottom: 32px;
      }
    }
  }

  .about1 {
    h2 {
      .about_h2-icon {
        width: 23px;
        height: 39px;
      }
    }
  }

  .about2 {
    h2 {
      .about_h2-icon {
        width: 48px;
        height: 39px;
      }
    }
  }

  .about3 {
    h2 {
      .about_h2-icon {
        width: 23px;
        height: 39px;
      }
    }
  }

  .top-trouble {
    h2 {
      font-size: $font-size3-tab;
    }

    .top-trouble_wrap {
      ul {
        li {
          margin-top: 28px;

          .top-trouble_card {
            padding: 20px;

            .trouble_q {
              &:before {
                content: '';
                width: 45px;
                height: 45px;
              }
            }

            .trouble_a {
              position: relative;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .top-recommended {
    .top-recommended_card_wrap {
      padding: 0 20px;

      .top-recommended_card_list {
        ul {
          padding-top: 28px;

          li.top-recommended_card {
            width: calc(100% / 3 - 20px);

            h3 {
              margin: 14px 0;
              font-size: $font-size5-tab;
            }

            p {
              padding: 0 14px;
            }

            p.card-price {
              font-size: $font-size4-tab;
              padding: 0 18px;

              &:after {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .top_news_wrap {
    .information {
      padding: 0 20px;
    }

    .campaign {
      padding: 0 20px;
    }

    .archive_box {
      margin: 20px 0;

      li {
        .archive_title {
          a {
            font-size: 14px;
          }
        }
      }

      .archive_link {
        a {
          &:after {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .top-recommended {
    .top_column_card_wrap {
      .top_column_card_list {
        ul {
          padding-top: 28px;

          li.top_column_card {
            margin-bottom: 20px;

            .top_column_card_txt {
              padding: 14px;

              p + p {
                padding-top: 14px;
              }
            }
          }
        }
      }
    }
  }

  .top_info_wrap {
    display: block;

    > div {
      padding: 0 20px;
    }

    .performer_wrap {
      width: 100%;
      padding-bottom: 30px;
    }

    .info_wrap {
      width: 100%;
      border-left: none;

      .archive_box {
        margin-top: 20px;
      }
    }
  }
}

/* sp */
@include sp {
  .about_box {
    display: block;

    + .about_box {
      margin-top: 40px;
    }

    .about_img {
      width: 100%;
      padding-bottom: 20px;
    }

    .about_text {
      width: 100%;

      h2 {
        font-size: $font-size3-sp;
        margin-bottom: 20px;
      }

      p {
        font-size: $font-size7-sp;
        margin-bottom: 20px;
      }
    }
  }

  .about1 {
    h2 {
      .about_h2-icon {
        width: 23px;
        height: 39px;
      }
    }
  }

  .about2 {
    h2 {
      .about_h2-icon {
        width: 48px;
        height: 39px;
      }
    }
  }

  .about3 {
    h2 {
      .about_h2-icon {
        width: 23px;
        height: 39px;
      }
    }
  }

  .top-trouble {
    h2 {
      font-size: $font-size3-sp;
    }

    .top-trouble_wrap {
      ul {
        display: block;

        li {
          width: 100%;
          margin-top: 20px;

          .top-trouble_card {
            padding: 20px;

            .trouble_q {
              &:before {
                content: '';
                width: 45px;
                height: 45px;
              }

              span {
                font-size: 14px;
                width: calc(100% - 60px);
              }
            }

            .trouble_a {
              position: relative;
              padding-bottom: 20px;
              .trouble_a_txt {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .top-recommended {
    .top-recommended_card_wrap {
      padding: 0;

      .top-recommended_card_list {
        ul {
          display: block;
          padding-top: 24px;

          li.top-recommended_card {
            width: 100%;

            + li {
              margin-top: 20px;
            }

            h3 {
              margin: 14px 0;
              font-size: $font-size5-sp;
            }

            p {
              padding: 0 14px;
            }

            p.card-price {
              font-size: $font-size4-sp;
              padding: 0 18px;

              &:after {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }

  .top_news_wrap {
    display: block;

    .information {
      padding: 0 0 30px;
    }

    .campaign {
      padding: 0;
      border-left: none;
    }

    .archive_box {
      margin: 20px 0;

      li {
        .archive_title {
          a {
            font-size: 12px;
          }
        }
      }

      .archive_link {
        a {
          &:after {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  .top-recommended {
    .top_column_card_wrap {
      .top_column_card_list {
        ul {
          display: block;
          padding-top: 24px;

          li.top_column_card {
            width: 100%;

            + li {
              margin-top: 20px;
            }

            .top_column_card_txt {
              padding: 14px;

              p + p {
                padding-top: 14px;
              }
            }
          }
        }
      }
    }
  }

  .top_info_wrap {
    display: block;

    > div {
      padding: 0;
    }

    .performer_wrap {
      width: 100%;
      padding-bottom: 30px;
    }

    .info_wrap {
      width: 100%;
      border-left: none;

      .archive_box {
        margin-top: 20px;

        .area_info_inner {
          padding-bottom: 8px;

          > div {
            display: block;
          }

          ul {
            width: 100%;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

// top-footer-img
.top-footer-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}
