footer {
  width: 100%;

  .footer_wrap {
    width: 100%;
    background: #49bffc;

    .footer-nav_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      padding: 45px 20px 30px;

      .footer-logo {
        width: 250px;

        img {
          width: 100%;
        }
      }

      .footer-links {
        width: 66%;
        padding-left: 20px;

        .footer-row {
          ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
              padding-bottom: 15px;

              &:nth-child(1) {
                width: 160px;
              }

              &:nth-child(2) {
                width: 110px;
              }

              &:nth-child(3) {
                width: 110px;
              }

              &:nth-child(4) {
                width: 100px;
              }

              &:nth-child(5) {
                width: 90px;
              }

              a {
                color: #fff;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span.copyright {
      display: block;
      color: #49bffc;
      width: calc(100% - 170px);
    }

    .footer-sns {
      width: 150px;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: block;
          width: 40px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}


@include tablet {
  footer {
    .footer_wrap {
      .footer-nav_wrap {
        display: block;
        padding: 35px 20px 25px;

        .footer-logo {
          margin-bottom: 30px;
        }

        .footer-links {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    .footer-copyright {

      .footer-sns {
        width: 125px;

        ul {

          a {
            width: 35px;
          }
        }
      }
    }
  }
}

@include sp {
  footer {
    .footer_wrap {
      .footer-nav_wrap {
        padding: 25px 20px 10px;

        .footer-logo {
          width: 220px;
        }

        .footer-links {
          width: 100%;
          font-size: 14px;

          .footer-row {
            ul {

              li {
                padding-bottom: 15px;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                  width: calc(50% - 10px);
                }
              }
            }
          }
        }
      }
    }

    .footer-copyright {
      display: block;
      padding: 20px 0;

      span.copyright {
        width: 100%;
        text-align: center;
        font-size: 12px;
      }

      .footer-sns {
        margin: 20px auto 0;
      }
    }
  }
}
