header {
  // max-width: 980px;
  margin: auto;

  .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;

    h1.logo {
      width: 290px;
      padding-right: 20px;

      img {
        width: 100%;
      }
    }

    input[type="checkbox"] {
      display: none;
      opacity: 0;
    }

    .sp-menu_wrap {
      width: 100%;
      height: 0;
      background: rgba(73, 191, 252, 0.9);
      position: absolute;
      bottom: 0;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, 100%);
      transition: height .3s ease;
      display: none;

      div {
        padding: 16px;

        a {
          display: block;
          width: 100%;
          text-align: center;
          color: $white;
          padding: 12px;
          font-size: 14px !important;
          font-weight: bold;
        }

        .sp-menu_counseling {
          background: $orange;
          padding: 15px;
          border-radius: 10px;
          margin-top: 10px;
          padding: 2px;

          div {
            border: 1px solid #ffce83;
            border-radius: 8px;
          }
        }
      }
    }

    #sp-menu_check:checked ~ .sp-menu_wrap {
      height: 400px;
      z-index: 99999;
    }
  }

  .header-top_right {
    ul {
      display: flex;
      align-items: center;

      li.header-top_right_link {
        margin-right: 36px;

        a {
          color: $black;
          font-weight: bold;
          font-size: $font-size8;

          svg {
            margin-right: 4px;
          }
        }
      }

      .counseling_button {
        background: $orange;
        color: $white;
        font-weight: bold;
        font-size: $font-size8;
        border-radius: 10px;
        padding: 2px;

        div {
          padding: 15px;
          border: 1px solid #ffce83;
          border-radius: 8px;
        }
      }
    }

    .sp-menu_button {
      display: none;
      width: 30px;
      height: 20px;
      position: relative;

      div {
        width: 30px;
        height: 5px;
        background: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        &:nth-child(1) {
          margin-top: -10px;
          transition: margin .2s ease .2s, transform .2s ease;
        }

        &:nth-child(2) {
          transition: width 0s ease .2s;
        }

        &:nth-child(3) {
          margin-top: 10px;
          transition: margin .2s ease .2s, transform .2s ease;
        }
      }
    }
  }

  #sp-menu_check:checked ~ .header-top_right {
    .sp-menu_button {
      div {
        &:nth-child(1) {
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: margin .2s ease, transform .2s ease .2s;
        }

        &:nth-child(2) {
          width: 0;
          transition: width 0s ease .2s;
        }

        &:nth-child(3) {
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
          transition: margin .2s ease, transform .2s ease .2s;
        }
      }
    }
  }

  .header-2 {
    background: $blue;

    nav.g-nav {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 20px;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          color: $white;
          font-weight: bold;
          width: calc(100% / 7);
        }

        .gnav_link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 90px;
          color: $white;
          font-size: 12px;

          .gnav_icon {
            width: 42px;
            margin: 0 auto 10px;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .mv {
      width: 100%;

      .mv_slider {
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;

        img {
          margin: auto;
          width: 100%;
          max-width: 1240px;
        }
      }

      .mv_txt {
        color: $white;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 12px 20px;
        font-size: $font-size1;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .member-list_wrap {
    height: 130px;
    background-image: url(../images/top/top-fv-under.jpg);
    background-size: auto 100%;
  }
}

@include tablet {
  header {

    // max-width: 760px;
    .header-1 {
      h1.logo {
        width: 270px;
      }
    }

    .header-top_right {
      ul {
        li.header-top_right_link {
          margin-right: 20px;

          a {
            font-size: $font-size8-tab;
          }
        }

        .counseling_button {
          font-size: $font-size8-tab;

          div {
            padding: 13px;
          }
        }
      }
    }

    .header-2 {
      background: $blue;

      nav.g-nav {
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;

        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;

          li {
            color: $white;
            font-weight: bold;
            width: calc(100% / 7);
          }

          .gnav_link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            color: $white;
            font-size: 11px;

            .gnav_icon {
              width: 38px;
              margin: 0 auto 10px;

              img {
                width: 100%;
              }
            }
          }
        }
      }

      .mv {
        width: 100%;

        .mv_slider {
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;

          img {
            margin: auto;
            width: 100%;
            max-width: 1240px;
          }
        }

        .mv_txt {
          font-size: $font-size1-tab;
        }
      }
    }

    .member-list_wrap {
      height: 100px;
    }
  }
}


@include sp {
  header {
    .header-1 {
      border-bottom: 2px solid $blue;
      box-shadow: 0px 0px 6px 1px #e8e8e8;

      h1.logo {
        width: 250px;
      }

      .sp-menu_wrap {
        display: block;
      }
    }

    .header-top_right {
      ul {
        display: none;
      }

      .sp-menu_button {
        display: block;
      }
    }

    .header-2 {

      nav.g-nav {
        display: none;
      }

      .mv {
        .mv_txt {
          padding: 10px 20px;
          font-size: $font-size3-sp;
        }
      }
    }

    .member-list_wrap {
      height: 50px;
    }

    .member-list_wrap {
      ul {
        display: flex;
        justify-content: space-between;

        li {
          width: calc(100% / 8);

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
