//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
$base-font-size: 14px;
$font-size1:36px;
$font-size2:32px;
$font-size3:28px;
$font-size4:24px;
$font-size5:20px;
$font-size6:18px;
$font-size7:16px;
$font-size8:15px;

$base-font-size-tab: 13px;
$font-size1-tab:32px;
$font-size2-tab:28px;
$font-size3-tab:24px;
$font-size4-tab:20px;
$font-size5-tab:18px;
$font-size6-tab:16px;
$font-size7-tab:14px;
$font-size8-tab:13px;

$base-font-size-sp: 12px;
$font-size1-sp:28px;
$font-size2-sp:24px;
$font-size3-sp:20px;
$font-size4-sp:18px;
$font-size5-sp:16px;
$font-size6-sp:15px;
$font-size7-sp:14px;
$font-size8-sp:13px;

//$color-primary
//$color-accent
$base-font-color: #333;
$base-background-color: #fff;
$black: #333333;
$white: #FFFFFF;
$orange: #fb962a;
$blue: #49bffc;
$sky: #e0f7ff;
$lowsky: #F3FDFF;
$yellow: #fffc00;
$pink: #fd94be;
$red: #ff0000;
$gray: #f3f3f3;

$breakpoint-tablet: 979px;
$breakpoint-sp: 759px;
